.confirm{
    border-radius: 15px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: #4192de;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 50px;
    width: 120px;
}


a:active,
a:hover,
a {
    text-decoration: none;
    color: #fff;
}